@tailwind base;
@tailwind components;
@tailwind utilities;

.nerko-one-regular {
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  
  
  .raleway{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
  }


  /* custom.css */
@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }
}
